body {
  margin: 0;
}

:root {
  --main-color: #0d6efd;
  --dark-mode-color: #333;
}

.light-mode {
  background-color: var(--main-color);
  color: white;
}

.dark-mode {
  background-color: #333;
  color: white;
}
.nav-style {
  height: 90px;
  width: 1440px;
}
.color-body {
  background-color: white;
  height: 100vh;
}

.logo {
  height: 72px;
  width: 78px;
}

.search {
  position: relative;
}

.search input {
  height: 40px;
  text-indent: 25px;
  border-radius: 20px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid white;
}
.search .fa-search {
  position: absolute;
  top: 12px;
  left: 16px;
  color: black;
}

.card {
  position: relative;
  transition: all 0.5s ease-in;
  cursor: pointer;
  height: 375px;
}

.card-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  background-color: rgba(13, 110, 253, 0.6); /* Light Blue Overlay */
}

.card-overlay.dark-overlay {
  background-color: rgba(57, 56, 57, 0.7); /* Dark Gray Overlay */
}

.card:hover .card-overlay {
  opacity: 1;
  visibility: visible;
}

.overlay-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.font {
  font-family: "Almarai", sans-serif;
}

.color {
  color: var(--main-color);
  background-color: var(--main-color);
}

.card-detalis {
  height: 370px;
  border-radius: 20px;
  background-color: #f8f8f8;
}
.card-story {
  height: 300px;
  border-radius: 20px;
  background-color: #f8f8f8;
}
.img-movie {
  height: 360px;
  padding: 10px;
  border-radius: 20px;
}

.card-text-details {
  color: #555555;
  font-family: "Almarai", sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
}

.card-text-story {
  color: #555555;
  font-family: "Almarai", sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
}
.card-text-title {
  color: #555555;
  font-family: "Almarai", sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
}

.language-btn {
  position: absolute;
  transform: translateY(-50%);
  top: 55%;
  color: white;
  border-width: 1px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 4px 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.language-btn.light-mode {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.language-btn.light-mode:hover {
  background-color: #0056b3;
}
.language-btn.dark-mode {
  background-color: var(--dark-mode-color);
  border-color: var(--dark-mode-color);
}
.language-btn.dark-mode:hover {
  background-color: black;
}

.btn.btn-primary.dark-mode.dark-hover:focus {
  background-color: black;
  outline: black;
  box-shadow: 0 0 0.25rem black;
}

.dark-hover:hover {
  background-color: black;
}

@media (max-width: 767px) {
  .flex-wrap-mobile {
    flex-wrap: wrap;
  }

  .margin-auto-mobile {
    margin: auto;
  }

  .card-text-details-mobile {
    font-size: 24px;
    line-height: 24px;
    margin-top: 10px;
  }
  .card-text-title-mobile {
    text-align: center;
  }
}

.search {
  margin-left: 12px;
  margin-right: 12px;
}

.search input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.dark-mode-pagination {
  color: var(--dark-mode-color);
  background-color: white;
}

.dark-mode-active {
  background-color: var(--dark-mode-color);
  color: white;
  border-color: var(--dark-mode-color);
}
.dark-mode-pagination:hover {
  color: var(--dark-mode-color);
}
.page-item.active .dark-mode-pagination {
  border-color: var(--dark-mode-color);
}

.dark-mode-pagination:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
  color: var(--dark-mode-color);
}
.page-item.active .dark-mode-pagination {
  background-color: var(--dark-mode-color);
  color: white;
}

p span {
  font-size: 26px;
  font-weight: normal;
}
